div {
  background: red;
  width: 500px;
  height: 500px;
}

h1 {
  color: white;
  font-size: 24px;
}

ul {
  list-style-type: none;
}
li {
  width: 250px;
  height: 48px;
  margin: 0 0 8px;
  background: rgba(0, 0, 0, 0.16);
}
